<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>So Appli et Moi</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce padding>

  <ion-row class="app-icon-container">
    <ion-col text-center>
      <ion-icon name="people" class="app-icon-zoom"></ion-icon>
    </ion-col>
  </ion-row>

  <form [formGroup]="signupForm" (submit)="onSignIn()">
    <ion-item>
      <ion-label floating color="primary">{{ 'account.forms.pseudo' | translate }}</ion-label>
      <ion-input type="text" formControlName="userName" class="form-control" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.userName">
        <div class="error-message" *ngIf="userName.hasError(validation.type) && (userName.dirty || userName.touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating color="primary">{{ 'account.forms.password' | translate }}</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message" *ngIf="password.hasError(validation.type) && (password.dirty || password.touched)">
          {{ validation.message }}
        </div>
      </ng-container>
      </div>

      <ion-item>
        <ion-label floating color="primary">{{ 'account.forms.confirm' | translate }}</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.confirmPassword">
          <div class="error-message" *ngIf="confirmPassword.hasError(validation.type) && (confirmPassword.dirty || confirmPassword.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    <!-- These validations are for the form group -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.matchPassword">
        <div class="error-message" *ngIf="password.hasError(validation.type) && (confirmPassword.dirty || confirmPassword.touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-item>
      <ion-label floating color="primary">{{ 'account.forms.name' | translate }}</ion-label>
      <ion-input type="text" formControlName="name" class="form-control" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.name">
        <div class="error-message" *ngIf="name.hasError(validation.type) && (name.dirty || name.touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating color="primary">{{ 'account.forms.forname' | translate }}</ion-label>
      <ion-input type="text" formControlName="forname" class="form-control"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating color="primary">{{ 'account.forms.email' | translate }}</ion-label>
      <ion-input type="text" formControlName="email" class="form-control" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message" *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating color="primary">{{ 'account.forms.phone' | translate }}</ion-label>
      <ion-input type="text" formControlName="phone" class="form-control" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'account.forms.birthDate' | translate }}</ion-label>
      <ion-input formControlName="birthDate"
          type="date" class="form-control"></ion-input>
    </ion-item>

    <ion-list radio-group formControlName="gender">
      <ion-list-header>
        {{ 'account.forms.gender' | translate }}
      </ion-list-header>

      <ion-item>
        <ion-label>{{ 'account.forms.female' | translate }}</ion-label>
        <ion-radio checked="isFemale()" value="0"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'account.forms.male' | translate }}</ion-label>
        <ion-radio checked="!isFemale()" value="1"></ion-radio>
      </ion-item>
    </ion-list>


    <ion-row class="sign-in-button-container">
      <ion-col text-center>
        <button ion-button block color="secondary"
            [disabled]="signupForm.invalid">
            {{ 'account.forms.signin' | translate }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="decline-button-container">
      <ion-col text-center>
        <button ion-button block color="light"
            type="button" (click)="decline()">
            {{ 'account.forms.decline' | translate }}
        </button>
      </ion-col>
    </ion-row>

  </form>

  <!-- Pour contrôle -->
  {{ signupForm.value | json }}
  {{ signupForm.valid | json }}

</ion-content>
